<!DOCTYPE html>
<html lang="en">
<head>

	<meta charset="utf-8">
	<title>Arosenius datalab</title>
	<meta name="description" content="">
	<meta name="author" content="">

	<meta name="viewport" content="width=device-width, initial-scale=1">

	<link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700" rel="stylesheet" type="text/css">

	<link rel="stylesheet" href="css/style.css">

</head>
<body>

<div id="appView">

	<div class="container">

		<div class="row" style="display: none">
			<div class="twelve columns canvas-container">
				<canvas class="color-picker" width="800" height="200"></canvas>
				<div class="canvas-marker"></div>
			</div>
		</div>

		<div class="row" style="display: none">
			<div class="twelve columns">
				<div class="circle-wrapper">
					<svg id="circleContainer" class="circle-container"></svg>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="twelve columns">
				<div class="graph-wrapper">
					<svg id="graphContainer" class="graph-container"></svg>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="twelve columns image-list"></div>
		</div>

	</div>

</div>

<script type="text/javascript" id="imageListTemplate">
	<% _.each(models, function(model) { %>
		<a class="item" href="http://cdh-vir-1.it.gu.se:8010/#document/<%= model.get('id') %>" target="_blank">

			<div class="title"><%= model.get('title') %></div>
			<img src="http://cdh-vir-1.it.gu.se:8004/images/255x/<%= model.get('image') %>.jpg"/>

			<div class="colors">
				<% _.each(model.get('color').colors.five, function(color) { %>
					<div class="color" style="background-color: <%= color.hex %>"><%= color.hsv.h %></div>
				<% }) %>
			</div>

		</a>
	<% }) %>
</script>


<script src="js/app.min.js"></script>

</body>
</html>
